<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911535984167-503pmp94p71u91jkg0hrun5gbvau6aki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911535984167-503pmp94p71u91jkg0hrun5gbvau6aki</string>
	<key>API_KEY</key>
	<string>AIzaSyBy6ATU3JASWoa_TbkSv5izaCPNgRiAHkA</string>
	<key>GCM_SENDER_ID</key>
	<string>911535984167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erincolkan.Investor</string>
	<key>PROJECT_ID</key>
	<string>investor-85352</string>
	<key>STORAGE_BUCKET</key>
	<string>investor-85352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911535984167:ios:4d83c014f2b9b992280802</string>
</dict>
</plist>